.Article {
	padding: 15px 30px;
}

.catchphrase {
	color: #8d93ab;
	margin-bottom: 30px;
}

.content {
	text-align: justify;
	margin-bottom: 30px;
}

.details {
	padding: 20px;
	background-color: #d6e0f0;
	border-radius: 5px;
	margin: 15px -30px;
}

.Article div span {
	font-weight: 700;
	margin-right: 15px;
}

.buttonContainer {
	text-align: right;
	margin: 20px 0;
}

:global .draft {
	font-weight: 600 !important;
	background-color: #8d93ab;
	color: white;
	padding: 5px 10px;
	margin: 0 20px;
	border-radius: 5px;
}
