.CreateArticle {
	margin: 20px auto;
	/* box-shadow: 0 14px 28px #8d93ab, 0 10px 10px #d6e0f0; */
	box-shadow: 0 10px 20px #8d93ab, 0 6px 6px #d6e0f0;
	width: 85%;
	max-width: 1200px;
	padding: 30px 20px;
	text-align: right;
}

.CreateArticle button:disabled {
	opacity: 0.3;
	cursor: not-allowed;
}
