.button {
	margin: 0 5px;
	padding: 10px 15px;
	cursor: pointer;
	background-color: #8d1a25;
	color: white;
	border: 1px solid white;
	border-radius: 5px;
	font-weight: 600;
}

.button:focus,
.button:hover {
	filter: brightness(130%);
}

:global .Outlet {
	font-weight: bold;
	font-size: 1.2rem;
	margin: 20px;
}
