.Input {
	margin-bottom: 20px;
}

.Input label {
	text-transform: uppercase;
	font-weight: 600;
	color: #8d93ab;
	display: block;
	margin: 0 0 5px 5px;
	text-align: start;
}

.Input input,
.Input textarea,
.Input select {
	width: 100%;
	padding: 10px;
	border: 1px solid #d6e0f0;
	border-radius: 5px;
	font-size: 1rem;
	font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
		'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
	color: #393b44;
}

.Input input::placeholder,
.Input textarea::placeholder,
.Input select::placeholder {
	color: #8d93ab;
}

.Input input:focus,
.Input textarea:focus,
.Input select:focus {
	outline-color: #8d93ab;
}
.invalid {
	background-color: #f6e4e4;
	border: 1px solid #e8a9a9 !important;
}

.invalid:focus {
	outline-color: #e8a9a9 !important;
}
